workflow-with-webhook/workflow2/workflow.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful assistant. Use the vector store tool to find information and answer questions. Always search the vector store first before responding."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2224,
        928
      ],
      "id": "9b71ff51-6815-401a-9abd-658447cfa1bd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2112,
        1200
      ],
      "id": "c67eb4c8-3359-4d1d-b953-f026559aa6a4",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "w49ot3avW8PerzLn",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        2240,
        1200
      ],
      "id": "985994bd-93d3-42d9-af89-42cebe7f04ae",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1808,
        944
      ],
      "id": "ff7085d0-526e-47f9-9eb4-5dfc59665e71",
      "name": "Webhook1",
      "webhookId": "e24f7596-dc60-4736-8fcf-adae125c03cb"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to get information from the uploaded PDF document. Always use this tool before answering any question.",
        "pineconeIndex": {
          "__rl": true,
          "value": "pdfindex",
          "mode": "list",
          "cachedResultName": "pdfindex"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        2368,
        1200
      ],
      "id": "4be1f95b-47fe-4939-b49a-f532f127080d",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "wIdx8O1izNGkjSew",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "embed-english-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        2400,
        1344
      ],
      "id": "afedbc33-f831-4387-9d8a-c15d741fb7ca",
      "name": "Embeddings Cohere1",
      "credentials": {
        "cohereApi": {
          "id": "Hkq6cfOThabF4emV",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"response\": \"{{ $json.output }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2576,
        992
      ],
      "id": "94761ac3-cac9-4d89-8949-cb5e44b2c0e0",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst data =$input.first().json;\n\nreturn[\n{\n  json:{\n    chatInput: data.body.chatInput,\n    sessionId: data.body.sessionId\n  }\n}\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        928
      ],
      "id": "8b706c3c-4ac9-4745-9805-fb9c28a7dac3",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook1": [
      {
        "headers": {
          "host": "yash200006.app.n8n.cloud",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/149.0.0.0 Safari/537.36",
          "content-length": "91",
          "accept": "*/*",
          "accept-encoding": "gzip, br",
          "accept-language": "en-US,en;q=0.9",
          "cdn-loop": "cloudflare; loops=1; subreqs=1",
          "cf-connecting-ip": "103.116.239.183",
          "cf-ew-via": "15",
          "cf-ipcountry": "IN",
          "cf-ray": "a0b1de77684931ee-BOM",
          "cf-visitor": "{\"scheme\":\"https\"}",
          "cf-worker": "n8n.cloud",
          "content-type": "application/json",
          "origin": "http://127.0.0.1:5500",
          "priority": "u=1, i",
          "referer": "http://127.0.0.1:5500/",
          "sec-ch-ua": "\"Google Chrome\";v=\"149\", \"Chromium\";v=\"149\", \"Not)A;Brand\";v=\"24\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-platform": "\"Windows\"",
          "sec-fetch-dest": "empty",
          "sec-fetch-mode": "cors",
          "sec-fetch-site": "cross-site",
          "x-forwarded-for": "103.116.239.183, 162.158.235.164",
          "x-forwarded-host": "yash200006.app.n8n.cloud",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "traefik-prod-users-swc-3-79bb64946-qjn52",
          "x-is-trusted": "yes",
          "x-real-ip": "103.116.239.183"
        },
        "params": {},
        "query": {},
        "body": {
          "chatInput": "what is time complexity?",
          "sessionId": "6b8716a6-4d91-45a0-ae02-dde6cdbdfaea"
        },
        "webhookUrl": "https://yash200006.app.n8n.cloud/webhook/chat",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d338f00c2ba534ab91bba244ab63fd8eecf56cd51b31954622060f08b2df1097"
  }
}