workflows(N8N)/workflow2/workflow2.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        304,
        272
      ],
      "id": "57464a41-fc95-4f62-a712-4f63569f087b",
      "name": "When chat message received",
      "webhookId": "3a08c025-cad7-47de-8f51-c36d964dedad"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful assistant. Use the vector store tool \nto find information and answer questions. Always search \nthe vector store first before responding."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        592,
        272
      ],
      "id": "4f17c710-8211-4cca-afad-a33a0923996a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        528,
        496
      ],
      "id": "c86b6c7c-67ec-44c1-9c38-ab513300414a",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "w49ot3avW8PerzLn",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        656,
        496
      ],
      "id": "a5965dda-d31b-4892-9c61-f04b87a6258c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to get information from the uploaded PDF document. Always use this tool before answering any question.",
        "pineconeIndex": {
          "__rl": true,
          "value": "pdfindex",
          "mode": "list",
          "cachedResultName": "pdfindex"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        784,
        496
      ],
      "id": "8e06addf-ae35-4d9c-8e1c-393d3f5a6157",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "wIdx8O1izNGkjSew",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "embed-english-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        864,
        704
      ],
      "id": "445b8cd1-7236-4d21-b657-29466f62a472",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "Hkq6cfOThabF4emV",
          "name": "Cohere account"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d338f00c2ba534ab91bba244ab63fd8eecf56cd51b31954622060f08b2df1097"
  }
}